body {
  background-color: rgb(200,200,200);
  background: repeating-linear-gradient(
    45deg,
    #DDD,
    #DDD 10px,
    #CCC 10px,
    #CCC 20px
  );
  margin: 0;
  padding-top: 1cm;
  padding-bottom: 1cm;
}

@media print {
  body {
    background: none;
    background-color: white;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}


/* A ".page" is not necessarly a single page.
 * Example, my résumé is contained in one '.page' element
 * but it's long and printed onto 2 or 3 pages (depending on the content).
 *
 * That's why the "height" property is not set for '.page'
 * but is set for '.single-page'.
 */
.page {
  border: 1px solid rgb(100,100,100);
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-sizing: border-box;
}
@media print {
  .page {
    border: none;
    margin: 0;
  }
}
@page {
  /* the "size" property is still set in specific files "printing-xxx.css" */
  margin: 0;
  -webkit-print-color-adjust: exact;
}


/* If your job is going to be printed on colored paper,
 * then you can add a specific color here, for "wysiwyg" purpose.
 * Using @media screen, the background-color won't be printed.
 * (avoid alpha color if you don't want to see the stripped 'body')
 */
/* For TEST PURPOSE
@media screen {
  .page {
    background-color: rgba(255,255,128,1.0);
  }
} */

/* TODO: move the "padding" rules into another class... */
.page-a4 {          /* A4 is 21cm x 29.7cm  */
  width: 21cm;
  padding: 1cm;
}
.page-us {          /* us aka letter is 8.5in x 11in  */
  width: 8.5in;
  padding: 0.40in;  /* ~1cm */
}
/* setting the "height" is only necessary/useful for single page documents */
.page-a4.single-page {
  height: 29.7cm;
}
.page-us.single-page {
  height: 11in;
}
/* "landscape" class is not ready yet,
 *  asking by CSS to print in landscape is not so simple...
 *
.page-a4.landscape {
  width: 29.7cm;
}
.page-us.landscape {
  width: 11in;
}
.page-a4.single-page.landscape {
  height: 21cm;
}
.page-us.single-page.landscape {
  height: 8.5in;
}
**/


.page p {
  margin: 0;
  padding: 0;
}



/* a <div class="pagebreak"> element can be used in the HTML
 * flow to force a page-break when printing.
 * Such <div> won't be visible for the screen.
 * (maybe for 'visual/wysiwyg' purpose it could be useful)
 *
 * TODO: write some tests/ pages for 'pagebreak'
 */
@media screen {
  div.pagebreak {
    display: none;
  }
}
@media print {
  div.pagebreak {
    display: block;
    page-break-before: always;
    margin-top: 0.75cm;
    margin-bottom: 0.75cm;
  }
}