body {
  background-color: rgb(200,200,200);
  background: repeating-linear-gradient(
    45deg,
    #DDD,
    #DDD 10px,
    #CCC 10px,
    #CCC 20px
  );
  margin: 0;
  padding-top: 1cm;
  padding-bottom: 1cm;
}

@media print {
  body {
    background: none;
    background-color: white;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}


/* A ".page" is not necessarly a single page.
 * Example, my résumé is contained in one '.page' element
 * but it's long and printed onto 2 or 3 pages (depending on the content).
 *
 * That's why the "height" property is not set for '.page'
 * but is set for '.single-page'.
 */
.page {
  border: 1px solid rgb(100,100,100);
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-sizing: border-box;
}
@media print {
  .page {
    border: none;
    margin: 0;
  }
}
@page {
  /* the "size" property is still set in specific files "printing-xxx.css" */
  margin: 0;
  -webkit-print-color-adjust: exact;
}

.page-a4 {          /* A4 is 21cm x 29.7cm  */
  width: 21cm;
}
.page-us {          /* us aka letter is 8.5in x 11in  */
  width: 8.5in;
}
/* setting the "height" is only necessary/useful for single page documents */
.page-a4.single-page {
  height: 29.7cm;
}
.page-us.single-page {
  height: 11in;
}
/* "landscape" class is not ready yet,
 *  asking by CSS to print in landscape is not so simple...
 *
.page-a4.landscape {
  width: 29.7cm;
}
.page-us.landscape {
  width: 11in;
}
.page-a4.single-page.landscape {
  height: 21cm;
}
.page-us.single-page.landscape {
  height: 8.5in;
}
**/

.page , /* default padding is 10mm */
.page.padding-10mm {        padding: 10mm;      }
.page.padding-none {        padding: 0;         }
.page.padding-5mm  {        padding: 5mm;       }
.page.padding-15mm {        padding: 15mm;      }
.page.padding-20mm {        padding: 20mm;      }
.page.padding-1in  {        padding: 1in;       }




/* *** PAGE-BREAK ***
 *  A <div class="pagebreak"> element can be used in the HTML flow
 *  to force a page-break when printing.
 *
 *  By default, the <div> won't be visible for the screen.
 *  But for 'wysiwyg' purpose, the <div> can be applied the class "visible"
 *  so that it becomes visible in the browser.
 */

@media screen {
  div.pagebreak {
    display: none;
  }
  div.pagebreak.visible {
    border: none;
    display: block;
    box-sizing: content-box;
    position: relative;
  }
  /* Specific rules to circumvent the page's padding
   * | pagebreak's ... has to be equal to page's
   * |  - margin-left          ->         - padding-left
   * |  - margin-right         ->         - padding-left
   * |  - padding-top          ->         - padding-bottom
   * |  - padding-bottom       ->         - padding-top
   */
  .page div.pagebreak.visible, /* default padding is 10mm */
  .page.padding-10mm div.pagebreak.visible {
    margin-left: -10mm;
    margin-right: -10mm;
    padding-top: 10mm;
    padding-bottom: 10mm;
  }
  .page.padding-5mm div.pagebreak.visible {
    margin-left: -5mm;
    margin-right: -5mm;
    padding-top: 5mm;
    padding-bottom: 5mm;
  }
  .page.padding-15mm div.pagebreak.visible {
    margin-left: -15mm;
    margin-right: -15mm;
    padding-top: 15mm;
    padding-bottom: 15mm;
  }
  .page.padding-20mm div.pagebreak.visible {
    margin-left: -20mm;
    margin-right: -20mm;
    padding-top: 20mm;
    padding-bottom: 20mm;
  }
  .page.padding-1in div.pagebreak.visible {
    margin-left: -1in;
    margin-right: -1in;
    padding-top: 1in;
    padding-bottom: 1in;
  }
  .page.padding-none div.pagebreak.visible {
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  /* make a translucid grey background-color if mouse is over */
  div.pagebreak.visible:hover {
    background-color: rgba(192,192,192,0.25);
  }
  /* the ":before" element is the dashed line */
  div.pagebreak.visible:before {
    content: " ";
    display: block;
    width: 104%;
    margin-left: -2%;
    border-top: 1px dashed red;
  }
  /* the ":after" element is the "page-break" text */
  div.pagebreak.visible:after {
    color: red;
    content: "page-break";
    padding: 0 0.5rem 0 1em;
    display: inline-block;
  }
  div.pagebreak.visible.margin-left:after ,
  div.pagebreak.visible.margin-right:after {
    width: 5em;
    position: absolute;
  }
  div.pagebreak.visible.margin-left:after {
    right: 100%;
  }
  div.pagebreak.visible.margin-right:after {
    left: 100%;
  }
}
@media print {
  div.pagebreak {
    display: block;
    page-break-before: always;
    height: 0px;
    overflow: hidden;
    /* the "overflow" property set to "hidden" is also important
     * for the margin of the next element in the HTML flow.
     * [don't understand exactly why, it's mandatory :-(] */

    border: none;
  }

  /* The "margin-top" value for div.pagebreak
   *  has to be equals to
   *  the "padding-top" value for ".page"
   */
  .page div.pagebreak, /* default padding is 10mm */
  .page.padding-10mm div.pagebreak {
    margin-top: 10mm;
  }
  .page.padding-5mm div.pagebreak {
    margin-top: 5mm;
  }
  .page.padding-15mm div.pagebreak {
    margin-top: 15mm;
  }
  .page.padding-20mm div.pagebreak {
    margin-top: 20mm;
  }
  .page.padding-1in div.pagebreak {
    margin-top: 1in;
  }
  .page.padding-none div.pagebreak {
    /* for .page with no padding, it's still necessary to use a very small margin
     * as thin as 0.001cm... */
    margin-top: 0.001cm;
  }
}