/* the @page at-rule is stored in printing-${format}.css files */

body {
  background: none;
  background-color: white;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.page {
  border: none;
  margin: 0;
}



div.pagebreak {
  display: block;
  page-break-before: always;
  margin-top: 0.75cm;
  margin-bottom: 0.75cm;
}
